.coverage
.idea/
homework_2/__pycache__/
homework_3/testing/__init__.py
homework_3/testing/__pycache__/
homework_4/__pycache__/
homework_4/music-blog.bd
homework_4/testing_for_blog/__init__.py
homework_4/testing_for_blog/__pycache__/
homework_4/testing_for_blog/music-blog.bd
venv/